%header
  %hgroup
    %h1#logo induction
    %h2 A Polyglot Database Client for Mac OS X
    
- if false
  %button#download
    %mark.download-arrow ↓
    %div
      %span Download
      %small Latest Alpha Release

%article
  %pre
    %code
      git clone git://github.com/Induction/Induction.git

  %ul.screenshots
    - for image in [:explore, :query, :visualize]
      %li
        %a.fancybox{:href => "https://s3.amazonaws.com/induction/induction-#{image}.png", :alt => "Induction - #{image.to_s.capitalize}"}
          %img{:src => "https://s3.amazonaws.com/induction/induction-#{image}-thumbnail.png"}
    

  %section.functionality
    :markdown
      # Explore, Query, Visualize

       Focus on the data, not the database. Induction is a new kind of tool designed for understanding and communicating relationships in data. Explore rows and columns, query to get exactly what you want, and visualize that data in powerful ways.

  %section.platforms
    :markdown
      # SQL? NoSQL? It Don't Matter
      
      Data is just data, after all. Induction supports PostgreSQL, MySQL, SQLite, Redis, and MongoDB  out-of-the-box (ed: the current build supports Postgres and Redis; the rest are in the works), and has an extensible architecture that makes it easy to write adapters for anything else you can think of.

  %section.open-source
    :markdown
      # Free As In "Free to Kick Ass"
      
      The full source code for Induction [is available on GitHub](https://github.com/Induction/Induction). I'm excited to build something insanely great, and I invite you to join me on this codeventure. Bug reports, feature requests, patches, well-wishes, and rap demo tapes are always welcome.

  %section.roadmap
    :markdown
      # The Long And Winding Roadmap

      Induction is in its early alpha stage of development, and has a long way to go before it's production-ready. A development roadmap will be formalized soon, and made available in the GitHub project wiki. This will define the feature set for a 1.0 release, and serve to carve up the work across contributors. 
  
  %section.name
    :markdown
      # What's In A Name?
      
    %dl
      %dt 
        Induction
        %span.pronunciation (ən"dʌk'ʃən)
      
      %dd The generation of an electric current by a varying magnetic field
      %dd The derivation of general principles from specific instances
        
    :markdown
      Data is like electricity: It appears in endless variety, employing adapters and transformers to become more useful. But no matter what, data is power. From data, we derive knowledge and understanding through a process of induction.

  %section.about
    :markdown
      # So Who's Behind All Of This?
      
      Induction was created by [Mattt Thompson](http://twitter.com/mattt/), with the help of his friends and colleagues at [Heroku](http://www.heroku.com/), particularly those on the [Heroku Postgres](https://postgres.heroku.com/) team.
      