%header
  %hgroup
    %h1
      %span#logo juice
      %mark.lightning ⚡
    %h2 A Polyglot Database Client for Mac OS X

  %button#download
    %mark.download-arrow ↓
    %div
      %span Download
      %small Latest Build (r1203)

%article
  %section.functionality
    :markdown
      # Explore, Query, Visualize

       Focus on the data, not the database. Juice is a new kind of tool designed for understanding and communicating relationships in data. Explore rows and columns, query to get exactly what you want, and visualize that data in powerful ways.

  %section.platforms
    :markdown
      # SQL? NoSQL? It Don't Matter
      
      Data is just data, after all. Juice supports PostgreSQL, MySQL, SQLite, Redis, and MongoDB  out-of-the-box, and has an extensible architecture that makes it easy to write adapters for anything else you can think of.

  %section.open-source
    :markdown
      # Free As In "Free to Kick Ass"
      
      The full source code for Juice [is available on GitHub](https://github.com/JuiceApp/Juice). I'm excited to build something insanely great, and I invite you to join me on this codeventure. Bug reports, feature requests, patches, well-wishes, and rap demo tapes are always welcome.
      
          git clone git://github.com/JuiceApp/Juice.git

- if false
  %section.about
    :markdown
      # So Who's Behind All Of This?
      
      Juice was created by [Mattt Thompson](http://mattt.me)
      