!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title Induction ⚡ A Polyglot Database Client For Mac OS X
    %link{:rel => "author", :href => "http://mattt.me/"}
    %link{:rel => "license", :href => "http://creativecommons.org/licenses/by-sa/3.0/", :title => "Creative Commons Attribution-ShareAlike 3.0 Unported (CC BY-SA 3.0)"}
    %link{:rel => "stylesheet", :href => "/css/screen.css", :type => 'text/css', :media => "screen", :charset => "utf-8"}

  %body
    .container
      = yield
      
      %footer
        :markdown
          ---
          (cc) 2012 Mattt Thompson. Induction is released under an [MIT License](http://www.opensource.org/licenses/mit-license).
          
    %a#github.ribbon{:href => "https://github.com/Induction/Induction", :rel => "nofollow"}
      %span Fork me on GitHub
