/* line 1, ../sass/normalize/reset.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

/* line 4, ../sass/normalize/reset.sass */
audio, canvas, video {
  display: inline;
  zoom: 1;
}

/* line 8, ../sass/normalize/reset.sass */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: sans-serif;
}

/* line 14, ../sass/normalize/reset.sass */
button, input, select, textarea {
  font-family: sans-serif;
}

/* line 18, ../sass/normalize/reset.sass */
a:focus {
  outline: thin dotted;
}
/* line 20, ../sass/normalize/reset.sass */
a:hover, a:active {
  outline: 0;
}

/* line 23, ../sass/normalize/reset.sass */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 27, ../sass/normalize/reset.sass */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 31, ../sass/normalize/reset.sass */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 35, ../sass/normalize/reset.sass */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 39, ../sass/normalize/reset.sass */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 43, ../sass/normalize/reset.sass */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/* line 47, ../sass/normalize/reset.sass */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 50, ../sass/normalize/reset.sass */
b, strong {
  font-weight: bold;
}

/* line 53, ../sass/normalize/reset.sass */
blockquote {
  margin: 1em 40px;
}

/* line 56, ../sass/normalize/reset.sass */
dfn {
  font-style: italic;
}

/* line 59, ../sass/normalize/reset.sass */
mark {
  background: yellow;
  color: black;
}

/* line 63, ../sass/normalize/reset.sass */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

/* line 68, ../sass/normalize/reset.sass */
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 72, ../sass/normalize/reset.sass */
q {
  quotes: none;
}
/* line 74, ../sass/normalize/reset.sass */
q:before, q:after {
  content: none;
}

/* line 77, ../sass/normalize/reset.sass */
small {
  font-size: 75%;
}

/* line 80, ../sass/normalize/reset.sass */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 86, ../sass/normalize/reset.sass */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

/* line 93, ../sass/normalize/reset.sass */
sub {
  bottom: -0.25em;
}

/* line 96, ../sass/normalize/reset.sass */
dd {
  margin: 0 0 0 40px;
}

/* line 99, ../sass/normalize/reset.sass */
menu, ol, ul {
  padding: 0 0 0 40px;
}

/* line 103, ../sass/normalize/reset.sass */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
}

/* line 107, ../sass/normalize/reset.sass */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 111, ../sass/normalize/reset.sass */
svg:not(:root) {
  overflow: hidden;
}

/* line 114, ../sass/normalize/reset.sass */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 119, ../sass/normalize/reset.sass */
legend {
  border: 0;
  white-space: normal;
  margin-left: -7px;
  padding: 0;
}

/* line 125, ../sass/normalize/reset.sass */
button, input, select, textarea {
  font-size: 100%;
  vertical-align: middle;
  margin: 0;
}

/* line 130, ../sass/normalize/reset.sass */
button, input {
  line-height: normal;
}

/* line 133, ../sass/normalize/reset.sass */
button {
  cursor: pointer;
  -webkit-appearance: button;
  overflow: visible;
}

/* line 139, ../sass/normalize/reset.sass */
input[type=button], input[type=reset], input[type=submit] {
  cursor: pointer;
  -webkit-appearance: button;
  overflow: visible;
}

/* line 144, ../sass/normalize/reset.sass */
button[disabled] {
  cursor: default;
}

/* line 148, ../sass/normalize/reset.sass */
input[disabled] {
  cursor: default;
}
/* line 150, ../sass/normalize/reset.sass */
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  height: 13px;
  width: 13px;
  padding: 0;
}
/* line 155, ../sass/normalize/reset.sass */
input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 160, ../sass/normalize/reset.sass */
input[type=search] -webkit-search-decoration, input[type=search] -webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 163, ../sass/normalize/reset.sass */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 167, ../sass/normalize/reset.sass */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 171, ../sass/normalize/reset.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 175, ../sass/normalize/reset.sass */
audio:not([controls]), [hidden] {
  display: none;
}

/* line 178, ../sass/normalize/reset.sass */
body, figure, form {
  margin: 0;
}

/* line 181, ../sass/normalize/reset.sass */
p, pre, dl, menu, ol, ul {
  margin: 1em 0;
}

/* line 1, ../sass/lib/_ribbon.sass */
a#github {
  right: -50px;
  height: 30px;
  top: 50px;
  position: absolute;
  text-decoration: none;
  width: 250px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 9, ../sass/lib/_ribbon.sass */
a#github span {
  background: #ecd93d;
  color: #222222;
  font-size: 1em;
  left: 0;
  padding: 0.375em 0;
  position: absolute;
  text-align: center;
  width: 250px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px;
  text-shadow: none;
}

/* line 14, ../sass/screen.sass */
html {
  background-color: #1d1d1d;
  background-image: url(/images/circuit-bg.png), url(/images/bg.png);
  color: white;
  -webkit-text-stroke: 1px transparent;
  -webkit-background-clip: padding-box;
  text-shadow: black 0 2px 1px;
}

/* line 22, ../sass/screen.sass */
.container {
  width: 768px;
  margin: 20px auto;
}

/* line 26, ../sass/screen.sass */
header {
  position: absolute;
  height: 20em;
}
/* line 31, ../sass/screen.sass */
header hgroup h1 {
  position: absolute;
  top: 55px;
  margin: 0;
  -webkit-transform: skewY(-8.4deg);
  -moz-transform: skewY(-8.4deg);
  -o-transform: skewY(-8.4deg);
  -ms-transform: skewY(-8.4deg);
  transform: skewY(-8.4deg);
  font-size: 11em;
  font-weight: 100;
  color: #f0e33f;
  letter-spacing: -0.02em;
}
/* line 41, ../sass/screen.sass */
header hgroup h2 {
  position: absolute;
  top: 45px;
  left: 440px;
  width: 300px;
  font-size: 2em;
  font-style: italic;
  font-weight: 300;
  text-align: center;
}
/* line 51, ../sass/screen.sass */
header mark.lightning {
  position: relative;
  font-size: 0.5em;
  left: 360px;
  top: -2.65em;
}
/* line 58, ../sass/screen.sass */
header button#download {
  position: absolute;
  background-color: #faee23;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#faee23), to(#928d26));
  background-image: -webkit-linear-gradient(top, #faee23, #928d26);
  background-image: -moz-linear-gradient(top, #faee23, #928d26);
  background-image: -o-linear-gradient(top, #faee23, #928d26);
  background-image: -ms-linear-gradient(top, #faee23, #928d26);
  background-image: linear, top, #faee23, #928d26;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#faee23', EndColorStr='#928d26');
  border-top: 1px solid #8c8a53;
  border-right: 1px solid #1f2d4d;
  border-bottom: 1px solid #332f20;
  border-left: 1px solid #1f2d4d;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 10px 1px #edee66, 0px 1px 0 #4a4d28, 0 6px 0px #515335, 0 8px 4px 1px #111111;
  -moz-box-shadow: inset 0 1px 10px 1px #edee66, 0px 1px 0 #4a4d28, 0 6px 0px #515335, 0 8px 4px 1px #111111;
  box-shadow: inset 0 1px 10px 1px #edee66, 0px 1px 0 #4a4d28, 0 6px 0px #515335, 0 8px 4px 1px #111111;
  text-shadow: #e9ee8e 0px 1px 1px;
  color: #303114;
  font: bold 20px "helvetica neue", helvetica, arial, sans-serif;
  line-height: 1;
  margin-bottom: 60px;
  padding: 10px 0 12px 0;
  text-align: center;
  width: 150px;
  -webkit-background-clip: padding-box;
  position: absolute;
  left: 440px;
  top: 127px;
  width: 300px;
  margin-top: 54px;
  font-size: 1.5em;
  font-family: Helvetica;
}
/* line 28, ../sass/lib/_functions.sass */
header button#download:hover {
  -webkit-box-shadow: inset 0 0px 20px 1px #c9c774, 0px 1px 0 #4d4938, 0 6px 0px #535032, 0 8px 4px 1px #111111;
  -moz-box-shadow: inset 0 0px 20px 1px #c9c774, 0px 1px 0 #4d4938, 0 6px 0px #535032, 0 8px 4px 1px #111111;
  box-shadow: inset 0 0px 20px 1px #c9c774, 0px 1px 0 #4d4938, 0 6px 0px #535032, 0 8px 4px 1px #111111;
  cursor: pointer;
}
/* line 31, ../sass/lib/_functions.sass */
header button#download:active {
  -webkit-box-shadow: inset 0 1px 10px 1px #eee691, 0 1px 0 #4d4a39, 0 2px 0 #534e35, 0 4px 3px 0 #111111;
  -moz-box-shadow: inset 0 1px 10px 1px #eee691, 0 1px 0 #4d4a39, 0 2px 0 #534e35, 0 4px 3px 0 #111111;
  box-shadow: inset 0 1px 10px 1px #eee691, 0 1px 0 #4d4a39, 0 2px 0 #534e35, 0 4px 3px 0 #111111;
  margin-top: 58px;
}
/* line 69, ../sass/screen.sass */
header button#download mark, header button#download span, header button#download small {
  display: block;
}
/* line 72, ../sass/screen.sass */
header button#download mark {
  float: left;
  font-size: 2em;
  padding: 0 0.67em;
}
/* line 77, ../sass/screen.sass */
header button#download div {
  float: left;
}
/* line 80, ../sass/screen.sass */
header button#download small {
  display: block;
  font-size: 0.5em;
  padding-top: 0.5em;
  text-shadow: #e9ee8e 0px 1px 0px;
}

/* line 87, ../sass/screen.sass */
mark {
  background: transparent;
  color: inherit;
}

/* line 91, ../sass/screen.sass */
article {
  padding-top: 20em;
}
/* line 94, ../sass/screen.sass */
article a {
  color: white;
}
/* line 97, ../sass/screen.sass */
article p {
  font-size: 1.25em;
  line-height: 1.375em;
  color: #d9d9d9;
}
/* line 102, ../sass/screen.sass */
article section {
  margin-bottom: 50px;
}
/* line 105, ../sass/screen.sass */
article pre {
  background: #e5cd3c;
  padding: 0.5em;
  text-align: center;
  -webkit-box-shadow: #222222 1px 1px 1px;
  -moz-box-shadow: #222222 1px 1px 1px;
  box-shadow: #222222 1px 1px 1px;
  margin: 30px 0;
}
/* line 112, ../sass/screen.sass */
article pre code {
  text-shadow: none;
  color: #222222;
  font-size: 1.5em;
  font-weight: bold;
}

/* line 118, ../sass/screen.sass */
footer {
  color: #b3b3b3;
  margin-top: 100px;
  padding: 1em 0;
}
/* line 123, ../sass/screen.sass */
footer hr {
  border: none;
  border-top: #cccccc 1px solid;
  border-bottom: #333333 1px solid;
}
