/* line 1, ../sass/normalize/reset.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

/* line 4, ../sass/normalize/reset.sass */
audio, canvas, video {
  display: inline;
  zoom: 1;
}

/* line 8, ../sass/normalize/reset.sass */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: sans-serif;
}

/* line 14, ../sass/normalize/reset.sass */
button, input, select, textarea {
  font-family: sans-serif;
}

/* line 18, ../sass/normalize/reset.sass */
a:focus {
  outline: thin dotted;
}
/* line 20, ../sass/normalize/reset.sass */
a:hover, a:active {
  outline: 0;
}

/* line 23, ../sass/normalize/reset.sass */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 27, ../sass/normalize/reset.sass */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 31, ../sass/normalize/reset.sass */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 35, ../sass/normalize/reset.sass */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 39, ../sass/normalize/reset.sass */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 43, ../sass/normalize/reset.sass */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/* line 47, ../sass/normalize/reset.sass */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 50, ../sass/normalize/reset.sass */
b, strong {
  font-weight: bold;
}

/* line 53, ../sass/normalize/reset.sass */
blockquote {
  margin: 1em 40px;
}

/* line 56, ../sass/normalize/reset.sass */
dfn {
  font-style: italic;
}

/* line 59, ../sass/normalize/reset.sass */
mark {
  background: yellow;
  color: black;
}

/* line 63, ../sass/normalize/reset.sass */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

/* line 68, ../sass/normalize/reset.sass */
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 72, ../sass/normalize/reset.sass */
q {
  quotes: none;
}
/* line 74, ../sass/normalize/reset.sass */
q:before, q:after {
  content: none;
}

/* line 77, ../sass/normalize/reset.sass */
small {
  font-size: 75%;
}

/* line 80, ../sass/normalize/reset.sass */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 86, ../sass/normalize/reset.sass */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

/* line 93, ../sass/normalize/reset.sass */
sub {
  bottom: -0.25em;
}

/* line 96, ../sass/normalize/reset.sass */
dd {
  margin: 0 0 0 40px;
}

/* line 99, ../sass/normalize/reset.sass */
menu, ol, ul {
  padding: 0 0 0 40px;
}

/* line 103, ../sass/normalize/reset.sass */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
}

/* line 107, ../sass/normalize/reset.sass */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 111, ../sass/normalize/reset.sass */
svg:not(:root) {
  overflow: hidden;
}

/* line 114, ../sass/normalize/reset.sass */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 119, ../sass/normalize/reset.sass */
legend {
  border: 0;
  white-space: normal;
  margin-left: -7px;
  padding: 0;
}

/* line 125, ../sass/normalize/reset.sass */
button, input, select, textarea {
  font-size: 100%;
  vertical-align: middle;
  margin: 0;
}

/* line 130, ../sass/normalize/reset.sass */
button, input {
  line-height: normal;
}

/* line 133, ../sass/normalize/reset.sass */
button {
  cursor: pointer;
  -webkit-appearance: button;
  overflow: visible;
}

/* line 139, ../sass/normalize/reset.sass */
input[type=button], input[type=reset], input[type=submit] {
  cursor: pointer;
  -webkit-appearance: button;
  overflow: visible;
}

/* line 144, ../sass/normalize/reset.sass */
button[disabled] {
  cursor: default;
}

/* line 148, ../sass/normalize/reset.sass */
input[disabled] {
  cursor: default;
}
/* line 150, ../sass/normalize/reset.sass */
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  height: 13px;
  width: 13px;
  padding: 0;
}
/* line 155, ../sass/normalize/reset.sass */
input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 160, ../sass/normalize/reset.sass */
input[type=search] -webkit-search-decoration, input[type=search] -webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 163, ../sass/normalize/reset.sass */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 167, ../sass/normalize/reset.sass */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 171, ../sass/normalize/reset.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 175, ../sass/normalize/reset.sass */
audio:not([controls]), [hidden] {
  display: none;
}

/* line 178, ../sass/normalize/reset.sass */
body, figure, form {
  margin: 0;
}

/* line 181, ../sass/normalize/reset.sass */
p, pre, dl, menu, ol, ul {
  margin: 1em 0;
}

/* line 2, ../sass/lib/_fancybox.sass */
.fancybox-tmp iframe, .fancybox-tmp object {
  vertical-align: top;
  padding: 0;
  margin: 0;
}

/* line 7, ../sass/lib/_fancybox.sass */
.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1002;
}

/* line 13, ../sass/lib/_fancybox.sass */
.fancybox-outer {
  position: relative;
  padding: 0;
  margin: 0;
  background: transparent;
  color: #444444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 24, ../sass/lib/_fancybox.sass */
.fancybox-opened {
  z-index: 1003;
}
/* line 26, ../sass/lib/_fancybox.sass */
.fancybox-opened .fancybox-outer {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

/* line 31, ../sass/lib/_fancybox.sass */
.fancybox-inner {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  outline: none;
  overflow: hidden;
}

/* line 40, ../sass/lib/_fancybox.sass */
.fancybox-error {
  color: #444444;
  font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 10px;
}

/* line 46, ../sass/lib/_fancybox.sass */
.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  vertical-align: top;
}

/* line 55, ../sass/lib/_fancybox.sass */
.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

/* line 59, ../sass/lib/_fancybox.sass */
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url("images/fancybox/sprite.png");
}

/* line 62, ../sass/lib/_fancybox.sass */
#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 1010;
}
/* line 72, ../sass/lib/_fancybox.sass */
#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url("images/fancybox/loading.gif") center center no-repeat;
}

/* line 77, ../sass/lib/_fancybox.sass */
.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 1004;
}

/* line 86, ../sass/lib/_fancybox.sass */
.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  background: transparent url("images/fancybox/blank.gif");
  z-index: 1003;
}

/* line 95, ../sass/lib/_fancybox.sass */
.fancybox-prev {
  left: 0;
}

/* line 98, ../sass/lib/_fancybox.sass */
.fancybox-next {
  right: 0;
}

/* line 101, ../sass/lib/_fancybox.sass */
.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 36px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 1003;
  visibility: hidden;
}

/* line 111, ../sass/lib/_fancybox.sass */
.fancybox-prev span {
  left: 20px;
  background-position: 0 -36px;
}

/* line 115, ../sass/lib/_fancybox.sass */
.fancybox-next span {
  right: 20px;
  background-position: 0 -72px;
}

/* line 119, ../sass/lib/_fancybox.sass */
.fancybox-nav:hover span {
  visibility: visible;
}

/* line 122, ../sass/lib/_fancybox.sass */
.fancybox-tmp {
  position: absolute;
  top: -9999px;
  left: -9999px;
  padding: 0;
  overflow: visible;
  visibility: hidden;
}

/* line 131, ../sass/lib/_fancybox.sass */
#fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 1001;
  background: black;
}

/* line 140, ../sass/lib/_fancybox.sass */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 1005;
}

/* line 147, ../sass/lib/_fancybox.sass */
.fancybox-opened .fancybox-title {
  visibility: visible;
}

/* line 150, ../sass/lib/_fancybox.sass */
.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 1003;
  text-align: center;
}
/* line 157, ../sass/lib/_fancybox.sass */
.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222222;
  color: white;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}

/* line 172, ../sass/lib/_fancybox.sass */
.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: white;
}

/* line 177, ../sass/lib/_fancybox.sass */
.fancybox-title-inside-wrap {
  margin-top: 10px;
}

/* line 180, ../sass/lib/_fancybox.sass */
.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  padding: 10px;
  background: black;
  background: rgba(0, 0, 0, 0.8);
}

/* line 16, ../sass/screen.sass */
html {
  background-color: #1d1d1d;
  background-image: url(/images/circuit-bg.png), url(/images/bg.png);
  color: white;
  -webkit-text-stroke: 1px transparent;
  -webkit-background-clip: padding-box;
  text-shadow: black 0 2px 1px;
}

/* line 24, ../sass/screen.sass */
.container {
  width: 768px;
  margin: 20px auto;
}

/* line 28, ../sass/screen.sass */
header {
  position: absolute;
  height: 20em;
}
/* line 33, ../sass/screen.sass */
header hgroup h1 {
  position: absolute;
  top: 55px;
  margin: 0;
  -webkit-transform: skewY(-8.4deg);
  -moz-transform: skewY(-8.4deg);
  -o-transform: skewY(-8.4deg);
  -ms-transform: skewY(-8.4deg);
  transform: skewY(-8.4deg);
  font-size: 11em;
  font-weight: 100;
  color: #f0e33f;
  letter-spacing: -0.02em;
}
/* line 43, ../sass/screen.sass */
header hgroup h2 {
  position: absolute;
  top: 195px;
  left: 440px;
  width: 300px;
  font-size: 2em;
  font-style: italic;
  font-weight: 300;
  text-align: center;
}

/* line 53, ../sass/screen.sass */
mark {
  background: transparent;
  color: inherit;
}

/* line 57, ../sass/screen.sass */
a {
  color: white;
  -webkit-transition-property: background, 1s;
  -moz-transition-property: background, 1s;
  -ms-transition-property: background, 1s;
  -o-transition-property: background, 1s;
  transition-property: background, 1s;
  -webkit-transition-duration: color, 1s;
  -moz-transition-duration: color, 1s;
  -ms-transition-duration: color, 1s;
  -o-transition-duration: color, 1s;
  transition-duration: color, 1s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0;
}
/* line 61, ../sass/screen.sass */
a:hover {
  background: #e5cd3c;
  color: #1b1b1b;
  text-decoration: none;
  text-shadow: none;
}

/* line 67, ../sass/screen.sass */
article {
  padding-top: 20em;
}
/* line 70, ../sass/screen.sass */
article p {
  font-size: 1.25em;
  line-height: 1.375em;
  color: #d9d9d9;
}
/* line 75, ../sass/screen.sass */
article section {
  margin-bottom: 50px;
}
/* line 78, ../sass/screen.sass */
article pre {
  background: #e5cd3c;
  padding: 0.5em;
  text-align: center;
  -webkit-box-shadow: #222222 1px 1px 1px;
  -moz-box-shadow: #222222 1px 1px 1px;
  box-shadow: #222222 1px 1px 1px;
  margin: 30px 0 60px 0;
}
/* line 85, ../sass/screen.sass */
article pre code {
  text-shadow: none;
  color: #222222;
  font-size: 1.5em;
  font-weight: bold;
}
/* line 91, ../sass/screen.sass */
article dl {
  font-size: 1.25em;
  margin: 20px auto 30px auto;
  width: 90%;
}
/* line 96, ../sass/screen.sass */
article dl dt {
  font-weight: bold;
  margin-bottom: 0.5em;
}
/* line 100, ../sass/screen.sass */
article dl dt .pronunciation {
  font-weight: normal;
}
/* line 103, ../sass/screen.sass */
article dl dd {
  display: list-item;
  list-style: decimal;
  padding: 0.25em 0;
}
/* line 108, ../sass/screen.sass */
article ul.screenshots {
  zoom: 1;
  margin: 20px 0 50px 0;
  padding: 0;
  list-style: none;
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
article ul.screenshots:before, article ul.screenshots:after {
  content: "";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
article ul.screenshots:after {
  clear: both;
}
/* line 114, ../sass/screen.sass */
article ul.screenshots li {
  float: left;
  display: block;
  list-style: none;
  margin-right: 3px;
}
/* line 120, ../sass/screen.sass */
article ul.screenshots li:last-child {
  margin-right: 0;
}
/* line 123, ../sass/screen.sass */
article ul.screenshots li a {
  padding: 2px;
}
/* line 126, ../sass/screen.sass */
article ul.screenshots li a, article ul.screenshots li img {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  display: block;
}

/* line 130, ../sass/screen.sass */
footer {
  color: #b3b3b3;
  margin-top: 100px;
  padding: 1em 0;
}
/* line 135, ../sass/screen.sass */
footer hr {
  border: none;
  border-top: rgba(0, 0, 0, 0.35) 1px solid;
  border-bottom: rgba(0, 0, 0, 0.25) 1px solid;
}
